<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLACK-HACKER-COMPANY</title>
</head>
<body style="text-align: center;">
    <h1>BLACK-HACKER-COMPANY</h1>
    <p>??? : swap 사원, 이번 타겟은 dotori_company 라네</p>
    <p>swap : 헉.. 그 회사는 너무 보안이 강력한걸요.... </p>
    <p>??? : 자네를 믿네 이번 일을 해결해준다면 10000달러를 주겠네</p>
    <p>swap : ???! 5분만 주세요 싸장님~</p>
    <img src="https://i.pinimg.com/originals/fa/6a/a8/fa6aa8b9f02691e42df56f1678e795fc.gif">
</body>
</html>