<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>THE BANK ROBBER</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen" href="./layouts/book_store_skin/style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="./layouts/_common/main.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <h1>THE BANK ROBBER</h1>
  </div>
  <div id="sideheader"></div>
  <div id="left_column">
    <div class="left_column_boxes">
      <h4>Navigation</h4>
      <div id="navcontainer">
        <ul id="navlist">
          <li id="active"><a href="?_type=P&act=home" id="current">Home</a></li>
          <li><a href="./?_type=P&_act=intro">Introduce</a></li>
          <li><a href="javascript:alert('this is \'MINI\' TBR Challenge.');">Hacked</a></li>
          <li><a href="./?_type=P&_act=contact">Contact Us</a></li>
          <li>&nbsp;</li>
          <li><a href="./?_type=P&_act=home&_skin=1">Skin : BOOK</a></li>
          <li><a href="./?_type=P&_act=home&_skin=2">Skin : BLUE</a></li>
        </ul>
      </div>
    </div>
    <div class="left_column_boxes">
      <h4>News</h4>
      <dl>
        <dt class="news">This is a definiton list</dt>
        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
        <dt class="news">Lists are cool</dt>
        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
      </dl>
    </div>
    <p class="center">:: <a href="http://secuinside.com">secuinside.com</a> ::</p>
  </div>
  <div id="content">
